.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    height: 100vh;
}

.tabs {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.tab-button {
    font-weight: bold;
    cursor: pointer;
}