@page "/auth"

<div class="auth-page">
    <div class="tabs">
        <div class="tab-button" @onclick="ShowAuthPage">
            Auth
        </div>
        <div class="tab-button" @onclick="ShowRegisterPage">
            Register
        </div>
    </div>
    <div class="active-tab">
        @if (registerPage)
            {
                <form class="form register-form" @onsubmit="Register">
                    <input class="text-input" type="text" placeholder="Username" @bind="username"/>
                    <input class="text-input" type="password" placeholder="Password" @bind="password"/>
                    <input class="text-input" type="password" placeholder="Confirm password" @bind="confirmPassword"/>
                    <label>
                        <input type="checkbox" placeholder="Confirm password" @bind="isAdmin"/>
                        <span>Administrator</span>
                    </label>
                    
                    <button class="btn" type="submit" disabled="@isLoading">Register</button>
        
                    @if (error != "")
                    {
                        <span class="error">@error</span>
                    }
                </form>
            }
            else
            {
                <form class="form auth-form" @onsubmit="Authorize">
                    <input class="text-input" type="text" placeholder="Username" @bind="username"/>
                    <input class="text-input" type="password" placeholder="Password" @bind="password"/>
                    <button class="btn" type="submit" disabled="@isLoading">Auth</button>
        
                    @if (error != "")
                    {
                        <span class="error">@error</span>
                    }
                </form>
            }
    </div>
</div>

@using Client.Socket
@using global::Shared.Message
@using global::Shared.Message.Responses
@using Client.Services
@using global::Shared.Message.Requests
@inject SocketService _socketService;
@inject DialogService _dialogService;
@inject EventSubManager _eventSubManager;
@inject NavigationManager _navigation;
@inherits OwningComponentBase

@code {

    private bool registerPage = false;
    private string error = "";

    private string username = "";
    private string password = "";
    private string confirmPassword = "";
    private bool isAdmin = false;
    private bool isLoading = false;

    private void ShowAuthPage()
    {
        this.registerPage = false;
    }

    private void ShowRegisterPage()
    {
        this.registerPage = true;
    }
    
    private async Task Authorize()
    {
        if (String.IsNullOrWhiteSpace(username) || String.IsNullOrWhiteSpace(password))
        {
            return;
        }
        
        await _socketService.Send(new AuthRequest
        {
            Username = username,
            Password = password
        });
    }
    
    private async Task Register()
    {
        if (String.IsNullOrWhiteSpace(username) || String.IsNullOrWhiteSpace(password))
        {
            return;
        }
        
        await _socketService.Send(new RegisterRequest
        {
            Username = username,
            Password = password,
            IsAdmin = isAdmin
        });
    }

    private async Task OnAuth(AuthResponse response)
    {
        _socketService.Authenticate(response.SessionKey, response.User);
        _navigation.NavigateTo("/chats");
    }
    
    private async Task OnRegister(RegisterResponse response)
    {
        this.username = "";
        this.password = "";
        this.registerPage = false;
        
        await _dialogService.DisplayAlert("Registration successful", "");
    }
    
    private async Task OnError(ErrorResponse response)
    {
        await _dialogService.DisplayAlert("Error!", response.Message);
    }

    protected override void OnInitialized()
    {
        _eventSubManager.Subscribe<AuthResponse>(OnAuth);
        _eventSubManager.Subscribe<RegisterResponse>(OnRegister);
        _eventSubManager.Subscribe<ErrorResponse>(OnError);
    }
}