@page "/"
@using Client.Socket
@using global::Shared.Message

<div class="index-page">
    <form class="form connection-form" @onsubmit="Connect">
        <input class="text-input" type="text" placeholder="Server address" @bind="serverAddress" />
        <input class="text-input" type="text" placeholder="Server port" @bind="serverPort" />
        <button class="btn" type="submit" disabled="@isLoading">Connect</button>
        
        @if (error != "")
        {
            <span class="error">@error</span>
        }
    </form>
</div>

@inject SocketService _socketService;
@inject NavigationManager _navigation;

@code
{
    private string serverAddress = "localhost";
    private int serverPort = 5053;
    private string error  = "";
    private bool isLoading = false;

    private async Task Connect()
    {
        error = "";
        isLoading = true;

        try
        {
            await _socketService.Connect(this.serverAddress, this.serverPort);
            _navigation.NavigateTo("/auth");
        }
        catch (Exception e)
        {
            error = e.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
}
