<div class="chat-item" @onclick="OnClick">
    <div class="chat-item__title">@ChatTitle</div>
    <div class="chat-item__message">
        @if (Chat.LastMessage is not null)
        {
            <div class="chat-item__message-text">
                @(Chat.LastMessage.Text)
            </div>
            <div class="chat-item__message-time">
                @(Chat.LastMessage.CreatedAt.ToShortTimeString())
            </div>
        }
        else
        {
            @("No messages")
        }
    </div>
</div>

@inject SocketService _socketService;
@using Client.Socket
@using global::Shared.Message.Events
@using global::Shared.Message.Requests
@using global::Shared.Message.Responses
@using global::Shared.Model

@code {
    [Parameter]
    public ChatInfo Chat { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    public string ChatTitle
    {
        get
        {
            if (Chat.Type == ChatType.Public)
                return "Forum";

            return Chat.Users.FirstOrDefault(u => u.Id != _socketService.User.Id)?.Name ?? "Deleted";
        }
    }
}