.chat {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 120px;
    gap: 10px;
    padding: 20px;
    height: 100vh;
}

.chat-items {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px;
    background: white;
    border-radius: 8px;
    transition: .2s;
}

.chat-item__sender {
    font-weight: bold;
}

.chat-item__message {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-item:not(:disabled):hover {
    cursor: pointer;
    background: #f6f6f6;
}

.chat-message__text {
    white-space: pre-wrap;
}

.chat-input__container {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 10px;
}

.chat-input {
    border: 1px solid #d1d1d1;
    background: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
    resize: none;
}

.chat-input__container .btn {
    align-self: center;
}